<h3>Statistic</h3>
    <div id="stat">
        <article>
            <h1>common</h1>
            <section>
                <table>
                    <tr>
                        <th><h5>accounts</h5></th>
                        <th><h5>characters</h5></th>
                        <th><h5>nobleses</h5></th>
                        <th><h5>heroes</h5></th>
                        <th><h5>gameMasters</h5></th>
                        <th><h5>clans</h5></th>
                        <th><h5>allys</h5></th>
                    </tr>
                    <tr>
                        <td>{{commons?.accCount?.count}}</td>
                        <td>{{commons?.countAll?.all}}</td>
                        <td>{{commons?.countAll?.nobles}}</td>
                        <td>{{commons?.countAll?.heroes}}</td>
                        <td>{{commons?.countAll?.gms}}</td>
                        <td>{{commons?.countClans}}</td>
                        <td>{{commons?.countAllys}}</td>
                    </tr>
                </table>
            </section>
        </article>
        <article id="top10">
            <h1>top10chars</h1>
            <section>
                <table>
                    <tr>
                        <th><h5>charName</h5></th>
                        <th><h5>lvl</h5></th>
                        <th><h5>charClass</h5></th>
                        <th><h5>charSex</h5></th>
                        <th><h5>clanName</h5></th>
                        <th><h5>gameTime</h5></th>
                        <th><h5>PvP/PK:</h5></th>
                    </tr>
                    <tr *ngFor="let ttp of topTenPlayers">
                        <td>{{ttp.charName}}</td>
                        <td>{{ttp.level}}</td>
                        <td>{{ttp.className}}</td>
                        <td>{{ttp.gender}}</td>
                        <td>{{ttp.className}}</td>
                        <td>{{ttp.onlineTime}}}</td>
                        <td>{{ttp.pvpKills}}/{{ttp.pkKills}}</td>
                    </tr>
                </table>
            </section>
        </article>
        <article id="clans">
            <h1>clans</h1>
            <section>
                <table>
                    <tr>
                        <th><h5>clanName</h5></th>
                        <th><h5>lvl</h5></th>
                        <th><h5>leader</h5></th>
                        <th><h5>castleName</h5></th>
                        <th><h5>fortName</h5></th>
                        <th><h5>reputation</h5></th>
                        <th><h5>midLvl</h5></th>
                        <th><h5>ally</h5></th>
                    </tr>
                    <tr *ngFor="let cl of clans">
                        <td>{{cl?.name}}</td>
                        <td>{{cl?.level}}</td>
                        <td>{{cl?.leaderName}}</td>
                        <td>{{cl?.castleName}}</td>
                        <td>{{cl?.fortName}}</td>
                        <td>{{cl?.reputation}}}</td>
                        <td>{{cl?.midCharsLevel}}</td>
                        <td>{{cl?.alyName}}</td>
                    </tr>
                </table>
            </section>
        </article>
        <article id="castles">
            <h1>castles</h1>
            <section>
                <table>
                    <tr>
                        <th><h5>Picture</h5></th>
                        <th><h5>castleName</h5></th>
                        <th><h5>clanName</h5></th>
                        <th><h5>tax</h5></th>
                        <th><h5>treasure</h5></th>
                        <th><h5>siegeDate</h5></th>
                    </tr>
                    <tr *ngFor="let cl of castles">
                        <td><img cImg  src="assets/images/castles/{{cl?.id}}.jpg" alt="" fill=""></td>
                        <td class="picture">{{cl?.name}}</td>
                        <td>{{cl?.clanName}}</td>
                        <td>{{cl?.taxPercent}}</td>
                        <td>{{cl?.treasury}}</td>
                        <td>{{getDate(cl?.siegeDate)}}</td>
                    </tr>
                </table>
            </section>
        </article>
        <article id="forts">
            <h1>forts</h1>
            <section>
                <table>
                    <tr>
                        <th><h5>Picture</h5></th>
                        <th><h5>fortName</h5></th>
                        <th><h5>clanName</h5></th>
                        <th><h5>siegeDate</h5></th>
                    </tr>
                    <tr *ngFor="let cl of forts">
                        <td class="picture"><img cImg  src="assets/images/forts/{{cl?.id}}.jpg" alt="" fill=""></td>
                        <td>{{cl?.name}}</td>
                        <td>{{cl?.clanName}}</td>
                        <td>{{getDate(cl?.siegeDate) }}</td>
                    </tr>
                </table>
            </section>
        </article>
    </div>
