<div *ngIf="loggedIn">
    <h3>Cabinet</h3>
    <p>{{ greeting }}</p>
    <div class="cabinet_nav_bar">
        <div>
            <ul>
                <li>
                    <a (click)="showAccountCreateForm()">Create account</a>
                </li>
                <li>
                    <a (click)="showAllAccounts()">All accounts</a>
                </li>
                <li>
                    <a (click)="showPasswordChangeForm()">Change password</a>
                </li>
            </ul>
        </div>

        <div *ngIf="isShowCreateAccountForm">
            <app-account-create (infoMessage)="showInfoAlert($event)"
                                (errorMessage)="showErrorAlert($event)">
            </app-account-create>
        </div>

        <div *ngIf="isShowAccountsList">
            <app-accounts-list (isShowAccountsList)="isShowAccountsList = $event"
                               (isShowAccountsPasswordChangeForm)="isShowAccontChangePasswordPasswordForm = $event"
                               (selectedLogin)="selectedLogin = $event">
            </app-accounts-list>
        </div>

        <div *ngIf="isShowAccontChangePasswordPasswordForm">
            <app-account-password-change [accLogin]="selectedLogin"
                                         (infoMessage)="showInfoAlert($event)"
                                         (errorMessage)="showErrorAlert($event)">
            </app-account-password-change>
        </div>

        <div *ngIf="isShowChangePasswordForm">
            <app-cabinet-change-password (infoMessage)="showInfoAlert($event)"
                                         (errorMessage)="showErrorAlert($event)">
            </app-cabinet-change-password>
        </div>
    </div>

    <div class="alert" [class.visible]="isVisible">
        <div class="infoMessage">
            <p>{{infoMessage}}</p>
        </div>
        <div class="errorMessage">
            <p>{{errorMessage}}</p>
        </div>
    </div>

    <button class="button" type="submit" (click)="onLogout()">Logout</button>
</div>


