div.cabinet_nav_bar{
    display: flex;
}

div.cabinet_nav_bar li{
    margin-bottom: 10px;
    margin-right: 20px;
}

.alert  {
    margin: auto;
    max-width: 50%;
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
    transition:  all 0.2s ease-in-out;
    opacity: 0;
    text-align: center;
}

.visible {
    opacity: 1;
    transform: translateY(1.25rem);
}

.infoMessage, .errorMessage{
    padding: 1rem;
}

.infoMessage {
    background-color: #b7ffad;
    color: #11c900;
}

.errorMessage {
    background-color: #ffa4a4;
    color: crimson;
}