<h2>About server</h2>
<app-video></app-video>
<table class="about-table">
    <tr>
        <th><h5>RATE NAME</h5></th>
        <th><h5>RATE VALUE</h5></th>
    </tr>
    <tbody>
    <tr *ngFor="let sp of serverProperties | keyvalue">
        <td>{{sp.key}}</td>
        <td>x{{sp.value}}</td>
    </tr>
    <p>
        THIS SERVER IS A TEST OPTION OF THE LINEAGE II GAME AND IS DESIGNED ONLY TO ACQUAINT PLAYERS. ALL RIGHTS OWNED BY NCSOFT.
    </p>
    <p>
        Held automatically. A necessary condition is to obtain the status of a nobleman. The following sorting occurs from the greatest amount of time spent in the game. Selected in the top ten will receive a weekly reward in the form of Adena. '
    </p>
    <p>
        Armor, weapons, bijou from "D" - to "Dino" sets, ammunition - it is possible to buy in the community store. Send wishes, suggestions, bug reports using the form to the "Contacts" section. Enjoy the gameplay! :)
    </p>
    </tbody>
</table>

