<h2>Sign-in</h2>
<form [formGroup]="checkoutForm" (ngSubmit)="onLogin()">
    <div>
        <label for="email">
            E-Mail
        </label>
        <input id="email" type="email" formControlName="email">
    </div>

    <div>
        <label for="password">
            Password
        </label>
        <input id="password" type="password" formControlName="password">
    </div>

    <div *ngIf="errorMessage">
        <p style="color: crimson">{{errorMessage}}</p>
        <p>Please, verify your credentials, or try <a [routerLink]="['/restore-password']">restore password</a></p>
    </div>

    <button class="button" type="submit">Login</button>
</form>

