<h3>Cabinet</h3>

<form *ngIf="!logedIn" [formGroup]="checkoutForm" (ngSubmit)="onLogin()">

    <div>
        <label for="email">
            E-Mail
        </label>
        <input id="email" type="email" formControlName="email">
    </div>

    <div>
        <label for="password">
            Password
        </label>
        <input id="password" type="password" formControlName="password">
    </div>

    <p *ngIf="errorMessage" style="color: crimson">{{errorMessage}}</p>

    <button class="button" type="submit">Login</button>

</form>

