<div>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="password1">
                New password
            </label>
            <input id="password1" type="password" formControlName="password1">
            <label for="password2">
                Repeat password
            </label>
            <input id="password2" type="password" formControlName="password2">
        </div>

        <button class="button" type="submit">Change password</button>
    </form>
</div>