<div>
    <form [formGroup]="checkoutForm" (ngSubmit)="changePassword()">
        <div>
            <label for="login">
                Login name
            </label>
            <input id="login" type="text" formControlName="login" [readonly]="true">
        </div>
        <div>
            <label for="password1">
                Password
            </label>
            <input id="password1" type="password" formControlName="password1">
            <label for="password2">
                Repeat password
            </label>
            <input id="password2" type="password" formControlName="password2">
        </div>

        <button class="button" type="submit">Change password</button>
    </form>
</div>