<div *ngIf="logedIn">
    <p>{{ greeting }}</p>
    <div class="cabinet_nav_bar">
        <div>
            <ul>
                <li>
                    <a (click)="showForm('createAccount')">Create account</a>
                </li>
                <li>
                    <a (click)="showAllAccounts()">All accounts</a>
                </li>
            </ul>
        </div>
        <div>
            <form *ngIf="isShowForm" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                <div>
                    <label for="login">
                        Login name
                    </label>
                    <input id="login" type="text" formControlName="login">
                </div>
                <div>
                    <label for="password1">
                        Password
                    </label>
                    <input id="password1" type="password" formControlName="password1">
                    <label for="password2">
                        Repeat password
                    </label>
                    <input id="password2" type="password" formControlName="password2">
                </div>

                <button class="button" type="submit">{{ buttonTitle }}</button>

            </form>
        </div>
        <div *ngIf="isShowAccountsList">
            <ul>
                <li *ngFor="let acc of allAccounts">
                    Login: {{ acc.login }} - Email: {{ acc.email }}
                    <button (click)="showChangePasswordForm(acc.login)">Change password</button>
                </li>
            </ul>
        </div>
    </div>

    <form [formGroup]="checkoutForm" (ngSubmit)="onLogout()">

        <button class="button" type="submit">Logout</button>

    </form>
</div>
