<h3>COMMON</h3>
<table>
    <tr>
        <th><h5>Accounts</h5></th>
        <th><h5>Characters</h5></th>
        <th><h5>Nobleses</h5></th>
        <th><h5>Heroes</h5></th>
        <th><h5>GameMasters</h5></th>
        <th><h5>Clans</h5></th>
        <th><h5>Allys</h5></th>
    </tr>
    <tr>
        <td>{{commons?.accCount?.count}}</td>
        <td>{{commons?.countAll?.all}}</td>
        <td>{{commons?.countAll?.nobles}}</td>
        <td>{{commons?.countAll?.heroes}}</td>
        <td>{{commons?.countAll?.gms}}</td>
        <td>{{commons?.countClans}}</td>
        <td>{{commons?.countAllys}}</td>
    </tr>
</table>
