<div>
    <table>
        <tr>
            <th><h5>Title</h5></th>
            <th><h5>Text</h5></th>
            <th><h5>Public date</h5></th>
            <th><h5>Action</h5></th>
        </tr>
        <tr *ngFor="let news of newsList">
            <td>
                {{ news.title }}
            </td>
            <td>
                {{ news.text }}
            </td>
            <td>
                {{ news.date | date }}
            </td>
            <td>
                <a (click)="deleteNews(news)">Delete</a>
            </td>
        </tr>
    </table>
</div>
