<h3>User registration</h3>

<form *ngIf="!isRegistered" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="login">
            Login name
        </label>
        <input id="login" type="text" formControlName="login">
    </div>

    <div>
        <label for="login">
            E-mail
        </label>
        <input id="email" type="email" formControlName="email">
    </div>

    <div>
        <label for="password1">
            Password
        </label>
        <input id="password1" type="password" formControlName="password1">
    </div>

    <div>
        <label for="password2">
            Repeat password
        </label>
        <input id="password2" type="password" formControlName="password2">
    </div>

    <button class="button" type="submit">Create user</button>

    <p *ngIf="errMessage" style="color: crimson">{{errMessage}}</p>

</form>

<div *ngIf="isRegistered">
    {{ greeting }}
</div>