div.app_top_bar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.logo_bar {
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    background-color: #1976d2;
    padding: 5px 10px 8px 10px;

}

div.nav_bar {
    display: flex;
    justify-content: center;
    background-color: white;
}

div.nav_bar a{
    display: flex;
    margin-inline: 10px;
    margin-top: 15px;
}

div.nav_bar h4{
    margin: 5px 0 0;
}

div.server_status {
    padding: 3px;
    font-size: 11px;
    display: flex;
    color: #EEEEEE;
    background-color: azure;
    border-radius: 3px;
}

.server_status_right {
    margin-left: 3px;
    margin-top: 6px;
}

.server_status em {
    margin-top: 7px;
    padding: 5px 0 0;
    background-color: white;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/