<div class="app_top_bar">
    <div class="logo_bar">
        <div class="server_status">
            <a [routerLink]="['/']" class="material-icons button">
                <h1>LaJDev</h1>
            </a>
            <div>
                <em class="material-icons" style="color: {{ bulbeColor }}">wb_incandescent</em>
            </div>
            <div class="server_status_right">
                <div>Name: {{ gameServerStatus?.name }}</div>
                <div>Status: {{ gameServerStatus?.status }} </div>
                <div>Online: {{ gameServerStatus?.online }}</div>
            </div>
        </div>

        <a routerLink="/login" class="button fancy-button">
            <em class="material-icons">account_box</em>Cabinet
        </a>
    </div>

    <div class="nav_bar">
        <a [routerLink]="['/']">
                <em class="material-icons">announcement</em>
                <h4>News</h4>
        </a>
        <a [routerLink]="['/about']">
            <em class="material-icons">info</em>
            <h4>About</h4>
        </a>
        <a [routerLink]="['/registration']">
            <em class="material-icons">supervised_user_circle</em>
            <h4>Registration</h4>
        </a>
        <a href="https://drive.google.com/drive/folders/1a9jqbmIrBIJxJzH0ADN5LaAdtMbB_zKo" target="_blank">
            <em class="material-icons">assignment</em>
            <h4>Files</h4>
        </a>
        <a [routerLink]="['/']">
            <em class="material-icons">forum</em>
            <h4>Forum</h4>
        </a>
        <a [routerLink]="['/statistic']">
            <em class="material-icons">query_stats</em>
            <h4>Statistic</h4>
        </a>
    </div>
</div>


<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->